@use "./variables" as *;
@use "./mixins" as *;

%container {
  max-width: 144rem;
  margin: 0 5rem;
  @include media("tablet") {
    margin: 0 4rem;
  }
  @include media("phone") {
    margin: 0 3rem;
  }
}

%heading-primary {
  font-family: $font-heading;
  font-size: 4rem;
}

%heading-secondary {
  font-family: $font-heading;
  font-size: 3.2rem;
  font-weight: 400;
}

%paragraph {
  line-height: 190%;
}

%text-input {
  display: block;
  padding: 1.5rem;
  background-color: $color-grey;
  font-family: inherit;
  line-height: 140%;
  font-size: 1.3rem;
}
