@use "./variables" as *;
@use "./mixins" as *;

%container {
  max-width: 144rem;
  margin: 0 5rem;
  @include media("tablet") {
    margin: 0 4rem;
  }
  @include media("phone") {
    margin: 0 3rem;
  }
}

%heading-primary {
  font-family: $font-heading;
  font-size: 4rem;
}

%paragraph {
  line-height: 190%;
}
