// Font variables

$font-heading: "Ibarra Real Nova", serif;
$font-body: "Public Sans", sans-serif;

// Color variables

$color-cyan: rgb(95, 180, 162);
$color-blue: rgb(32, 58, 76);
$color-grayish-blue: rgb(51, 50, 61);
$color-light-grey: rgb(250, 250, 250);
$color-grey: rgb(234, 234, 235);
$color-red: rgb(244, 48, 48);
$color-dark-grey: rgb(192, 192, 192);

// Breakpoints 

$breakpoints: (
  phone: 576px,
  tablet: 992px,
)


/* // Theme variables
:root {
  --color-background: #{$color-cyan};
}

.dark {
  --color-background: #{$color-blue};
}
 */