@use "../abstracts" as *;

.container--header {
  @extend %container;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  @include media-max(768px) {
    height: 11rem;
  }
  &__logo {
    height: 3.2rem;
  }
  &__nav {
    display: flex;
    align-items: center;
    font-family: $font-body;
  }
  &__nav-item {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
}
