@use "../abstracts" as *;

.container--header {
  @extend %container;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  @include media("tablet") {
    height: 11rem;
  }
  &__home-link {
    line-height: 0;
  }
  &__logo {
    height: 3.2rem;
  }

  .nav {
    @include media("phone") {
      display: none;
    }
  }
}
