@use "../abstracts/" as *;
@use "sass:color" as color;

.btn {
  font-family: inherit;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 1.7rem 3.5rem;
  cursor: pointer;
  border: 1px solid $color-grayish-blue;
  white-space: nowrap;
  color: $color-grayish-blue;
  &--full {
    color: $color-light-grey;
    background-color: $color-blue;
    border: 1px solid $color-blue;
  }
}

.btn {
  transition: background-color 0.07s, color 0.07s, transform 0.07s;
  &:hover {
    background-color: $color-grayish-blue;
    color: $color-light-grey;
  }
  &:active {
    transform: scale(0.98);
  }
  &:disabled {
    color: $color-grey;
    cursor: default;
    background-color: transparent;
    border: 1px solid $color-grey;
    transform: none;
  }
  &--full:hover {
    border: 1px solid $color-cyan;
    background-color: $color-cyan;
  }
  &--full:disabled {
    border: 1px solid $color-grey;
  }
  &--full:disabled:hover {
    background-color: transparent;
    border: 1px solid $color-grey;
  }
}

.icn-btn {
  display: flex;
  align-items: stretch;
  color: $color-light-grey;
  background-color: $color-blue;
  cursor: pointer;
  &__icon-wrapper {
    display: flex;
    align-items: center;
    background-color: color.scale($color-blue, $lightness: -10%);
    padding: 0 1.6rem;
  }
  &__icon {
    display: block;
    width: 1.6rem;
    &--dark {
      display: block;
    }
    &--light {
      display: none;
    }
  }
  &__text {
    font-family: inherit;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 1.7rem 3.5rem;
    white-space: nowrap;
  }
}

.icn-btn {
  transition: background-color 0.07s, transform 0.07s;
  &__icon-wrapper {
    transition: background-color 0.07s;
  }
  &:hover {
    background-color: $color-cyan;
  }
  &:hover & {
    &__icon-wrapper {
      background-color: color.scale($color-cyan, $lightness: -10%);
    }
    &__icon {
      &--dark {
        display: none;
      }
      &--light {
        display: block;
      }
    }
    &__text {
      border: none;
    }
  }
  &:active {
    transform: translateY(0.3rem) scale(0.98);
  }
}
