@use "../abstracts/" as *;
@use "sass:color" as color;

.btn {
  font-family: inherit;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 1.7rem 3.5rem;
  cursor: pointer;
  border: 1px solid $color-primary-grayish-blue;
  white-space: nowrap;
  &--full {
    color: $color-secondary-light-grey;
    background-color: $color-primary-blue;
    border: none;
  }
}

.icn-btn {
  display: flex;
  align-items: stretch;
  color: $color-secondary-light-grey;
  background-color: $color-primary-blue;
  cursor: pointer;
  &__icon-wrapper {
    display: flex;
    align-items: center;
    background-color: color.scale($color-primary-blue, $lightness: -10%);
    padding: 0 1.6rem;
  }
  &__icon {
    display: block;
    width: 1.6rem;
  }
  &__text {
    @extend .btn;
    border: none;
  }
}
