@use "../abstracts/" as *;

.card {
  display: flex;
  @include media("phone") {
    flex-direction: column;
  }
  &--bio {
    max-height: 60rem;
    @include media("tablet") {
      max-height: initial;
    }
  }
  &__figure {
    position: relative;
    width: 50%;
    overflow: hidden;
    @include media("tablet") {
      padding: 4% 0;
    }
    @include media("phone") {
      padding: initial;
      width: 100%;
      margin-bottom: 3.5rem;
    }
    &--bio {
      padding: 0;
      width: 40%;
      // &::before {
      //   content: "";
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   width: 100%;
      //   height: 100%;
      //   background: radial-gradient(transparent 60%, rgba(0, 0, 0, 0.15));
      // }
      // @include media("tablet") {
      //   width: 40%;
      // }
      @include media("phone") {
        width: 100%;
      }
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 55% 25%;
    }
  }
  &__content {
    width: 60%;
    @include media("phone") {
      width: 100%;
    }
    // &--bio {
    //   @include media("tablet") {
    //     width: 60%;
    //   }
    //   @include media("phone") {
    //     width: 100%;
    //   }
    // }
  }
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    padding: 12% 0;
    border-width: 1px 0 1px 0;
    border-color: $color-grey;
    border-style: solid;
    height: 100%;
    @include media("tablet") {
      width: initial;
      padding: 8% 0;
    }
    @include media("phone") {
      padding: 5% 0 8% 0;
      margin-left: initial;
    }
    &--bio {
      padding: 8% 0;
      @include media-max(1380px) {
        width: 70%;
        margin-left: 15%;
      }
      @include media-max(1080px) {
        width: initial;
      }
      @include media("phone") {
        padding: 5% 0 8% 0;
        margin-left: initial;
      }
    }
  }
  &__main {
    margin-bottom: auto;
  }
  &__title {
    @extend %heading-primary;
    margin-bottom: 2.5rem;
  }
  &__text {
    @extend %paragraph;
  }
  &__link {
    position: relative;
    color: $color-cyan;
    font-weight: 700;
    &::after {
      transition: width 100ms ease;
      content: "";
      background-color: $color-cyan;
      position: absolute;
      left: 0;
      bottom: -10%;
      border-radius: 100px;
      width: 0;
      height: 0.2rem;
    }
    &:hover::after {
      width: 100%;
    }
  }
  &__action {
    margin-top: 3rem;
  }
}

.card {
  &__figure {
    img {
      transition: transform 0.1s ease-out;
    }
    img.scaled {
      transform: scale(104%);
    }
    &--bio {
      img {
        transition: filter 3s linear;
      }
      img.grayscale {
        filter: grayscale(100%);
      }
    }
  }
}
