@use "../abstracts" as *;

.contact-form {
  &__field {
    position: relative;
    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }
    label {
      display: block;
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }
    input {
      @extend %text-input;
      width: 100%;
      line-height: normal;
      border: 1px solid transparent;
    }
    textarea {
      @extend %text-input;
      width: 100%;
      resize: none;
      border: 1px solid transparent;
    }
  }
  &__validation-text {
    display: none;
    position: absolute;
    top: calc(100% + 0.5rem);
    color: rgb(244, 48, 48);
    font-size: 1rem;
    font-style: italic;
    font-weight: 700;
  }
  &__footer {
    display: flex;
    align-items: center;
  }
  &__submit-btn {
    margin-right: 3rem;
  }
  &__submit-text {
    visibility: hidden;
    opacity: 0;
    color: $color-cyan;
    text-align: center;
  }
}

.contact-form {
  &__field {
    input:focus {
      border-color: $color-cyan;
    }
    input.invalid {
      border-color: rgb(244, 48, 48);
    }
    textarea:focus {
      border-color: $color-cyan;
    }
    textarea.invalid {
      border-color: rgb(244, 48, 48);
    }
  }
  &__submit-btn:focus {
    background-color: $color-cyan;
  }
  &__submit-text {
    transition: opacity 0.1s ease-out;
    &.invalid {
      color: rgb(244, 48, 48);
    }
  }
}
