@use "../abstracts" as *;

.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 14rem 0;
  @include media("tablet") {
    margin: 8rem 0;
  }
  @include media("phone") {
    flex-direction: column;
    margin: 7rem 0;
  }
  &__subject {
    font-family: $font-heading;
    font-size: 4rem;
    font-weight: 700;
    max-width: 14ch;
    flex-shrink: 1;
    @include media("phone") {
      margin-bottom: 5rem;
      text-align: center;
    }
  }
  &__separator-line {
    flex-grow: 1;
    height: 1px;
    margin: 0 4rem;
    background-color: $color-grey;
    @include media("phone") {
      display: none;
    }
  }
}
