@use "../abstracts/" as *;

.error-message {
  display: none;
  width: 100%;
  margin-top: 9rem;
  @include media("tablet") {
    margin-top: 5rem;
  }
  @include media("phone") {
    margin-top: 7rem;
  }
  &__header {
    @extend %heading-primary;
    margin-bottom: 4rem;
    text-align: center;
  }
  &__emoji {
    white-space: nowrap;
  }

  .btn {
    display: block;
    margin: 0 auto;
  }
}
