@use "../abstracts/" as *;

.navigation {
  display: flex;
  border-width: 1px 0 1px 0;
  border-color: $color-secondary-grey;
  border-style: solid;
  &__tile {
    padding: 3rem 0;
    display: flex;
    flex-basis: 100%;
    @include media("phone") {
      padding: 2.5rem 0 3rem 0;
    }
    &--left {
      justify-content: left;
    }
    &--right {
      justify-content: right;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include media("phone") {
      flex-direction: column;
    }
    &--left {
      text-align: left;
      padding-right: 2rem;
      @include media("phone") {
        align-items: flex-start;
      }
    }
    &--right {
      text-align: right;
      padding-left: 2rem;
      @include media("phone") {
        align-items: flex-end;
      }
    }
  }
  &__btn-text {
    h3 {
      @extend %heading-secondary;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1.6rem;
      color: $color-secondary-grey;
    }
  }
  &__btn-icon {
    display: block;
    @include media("phone") {
      margin-bottom: 1.5rem;
    }
    &--left {
      margin-right: 3rem;
      @include media("phone") {
        margin-right: initial;
        order: 0;
      }
    }
    &--right {
      margin-left: 3rem;
      order: 1;
      @include media("phone") {
        margin-left: initial;
        order: 0;
      }
    }
  }

  &__separator-line {
    justify-self: center;
    width: 1px;
    background-color: $color-secondary-grey;
  }
}

.navigation {
  &__btn-icon {
    transition: transform 0.1s ease-out;
  }
  &__btn:hover & {
    &__btn-icon {
      &--left {
        transform: translateX(0.5rem);
      }
      &--right {
        transform: translateX(-0.5rem);
      }
    }
  }
  &__btn:active & {
    &__btn-icon {
      &--left {
        transform: translateX(0);
      }
      &--right {
        transform: translateX(0);
      }
    }
  }
}
