@use "../abstracts/" as *;

$nav-item-animation-curve: cubic-bezier(0, 0.28, 0, 0.55);

.nav {
  ul {
    display: flex;
    align-items: center;
  }
  &__item {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    &:not(:last-child) {
      margin-right: 4rem;
    }
  }
}

.nav {
  &__item {
    transition: transform 0.07s $nav-item-animation-curve,
      opacity 0.07s $nav-item-animation-curve;
  }
  &__item.selected {
    color: $color-cyan;
  }
  &__item.minified {
    opacity: 0.5;
    transform: scale(0.95);
  }
}

.nav-phone {
  display: none;
  @include media("phone") {
    display: block;
  }
  &__item {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
  &__wrapper {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: calc(100% + 2rem);
    z-index: 10;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 22rem;
      padding: 3.5rem 2rem;
      background-color: $color-grayish-blue;
      color: $color-light-grey;
    }
  }
  &__control {
    display: flex;
    align-items: center;
  }
  &__control-btn {
    cursor: pointer;
    img {
      display: block;
    }
    &--open {
      display: block;
    }
    &--close {
      display: none;
      margin-right: 0.3rem;
    }
  }
}

// Phone nav animations

@keyframes expand {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.nav-phone {
  &__item {
    transition: transform 0.07s $nav-item-animation-curve,
      opacity 0.07s $nav-item-animation-curve;
  }
  &__item.selected {
    color: $color-cyan;
  }
  &__item.minified {
    opacity: 0.5;
    transform: scale(0.95);
  }
  &__wrapper {
    transform-origin: top right;
    animation: shrink 0.2s ease-out;
  }
  &__wrapper.expand {
    animation: expand 0.2s ease-out;
  }
}
