@use "../abstracts/" as *;

.navigation {
  display: flex;

  border-width: 1px 0 1px 0;
  border-color: $color-secondary-grey;
  border-style: solid;
  &__left {
    padding: 2rem 0;
    display: flex;
    justify-content: left;
    flex-basis: 100%;
  }
  &__right {
    padding: 2rem 0;
    display: flex;
    justify-content: right;
    flex-basis: 100%;
  }
  &__btn {
    display: flex;
    /*     width: 30%; */
    align-items: center;
    &--left {
      text-align: left;
    }
    &--right {
      text-align: right;
    }
  }
  &__btn-text {
    h3 {
      @extend %heading-secondary;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.6rem;
      /* color: $color-secondary-grey; */
    }
  }
  &__btn-icon {
    /* pointer-events: none; */
    display: block;
    &--left {
      margin-right: 1rem;
    }
    &--right {
      margin-left: 1rem;
    }
  }

  &__separator-line {
    justify-self: center;
    width: 1px;
    background-color: $color-secondary-grey;
  }
}
