@use "../abstracts/" as *;

.container--contact-main {
  @extend %container;
  display: flex;
  flex-direction: column;
}

.contact-section {
  display: flex;
  align-items: flex-start;
  padding: 5rem 0;
  border-width: 1px 0 0 0;
  border-color: $color-secondary-grey;
  border-style: solid;
  &__heading {
    @extend %heading-primary;
    flex-shrink: 0;
    margin-right: auto;
  }
  &__content {
    width: 60%;
  }
  &__text {
    @extend %paragraph;
  }
  &__social {
    margin-top: 2.5rem;
  }
  &__social-icon {
    width: 2.5rem;
    display: block;
  }
}
