@use "../abstracts/" as *;

.container--contact-main {
  @extend %container;
  display: flex;
  flex-direction: column;
}

.contact-section {
  display: flex;
  align-items: flex-start;
  padding: 4rem 0;
  border-width: 1px 0 0 0;
  border-color: $color-secondary-grey;
  border-style: solid;
  @include media("tablet") {
    flex-direction: column;
    padding: 3rem 0;
  }
  &__heading {
    @extend %heading-primary;
    flex-shrink: 0;
    margin-right: auto;
    margin-bottom: 2.5rem;
  }
  &__content {
    width: 60%;
    @include media("tablet") {
      width: 100%;
    }
  }
  &__text {
    @extend %paragraph;
  }
  &:last-child {
    margin-bottom: 5rem;
  }

  .social {
    margin-top: 2.5rem;
  }
}
