@use "../abstracts/" as *;

.container--portfolio-detail-main {
  @extend %container;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 23rem);
  @include media("tablet") {
    min-height: calc(100vh - 19rem);
  }
  @include media("phone") {
    min-height: initial;
  }
}

.project-hero {
  height: 60vw;
  min-height: 35rem;
  max-height: 52rem;
  margin-top: 3rem;
  margin-bottom: 10rem;
  @include media("tablet") {
    margin-bottom: 4rem;
  }
  @include media("phone") {
    margin-top: initial;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.project-data-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
  align-items: flex-start;
  @include media("tablet") {
    flex-direction: column;
  }
}

.project-summary {
  width: 30%;
  border-width: 1px 0 1px 0;
  border-color: $color-grey;
  border-style: solid;
  padding: 4rem 0;
  @include media("tablet") {
    width: 100%;
    padding: 3rem 0;
  }
  &__title {
    @extend %heading-primary;
    margin-bottom: 2.5rem;
  }
  &__text {
    @extend %paragraph;
    margin-bottom: 3rem;
  }
  &__keywords {
    display: block;
    font-size: 1.6rem;
    color: #5fb4a2;
    font-weight: 700;
    p:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__action {
    margin-top: 3.5rem;
  }
}

.project-background {
  width: 60%;
  @include media("tablet") {
    width: 100%;
    margin-top: 4rem;
  }
  &__heading {
    @extend %heading-secondary;
    margin-bottom: 2.5rem;
  }
  &__text {
    @extend %paragraph;
    margin-bottom: 2.5rem;
    white-space: pre-wrap;
  }
  .carousel {
    height: 25vw;
    min-height: 35rem;
    max-height: 50rem;
    &__content {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    }
  }
}
